@font-face {
    font-family: 'Proxima Nova', sans-serif;
    src: url("./assets/fonts/ProximaNova-Regular.otf") format("otf");
    font-weight: 400;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Proxima Nova', sans-serif;
    src: url("./assets/fonts/ProximaNova-Semibold.otf") format("otf");
    font-weight: 600;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Proxima Nova', sans-serif;
    src: url("./assets/fonts/ProximaNova-Bold.otf") format("otf");
    font-weight: 700;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Proxima Nova', sans-serif;
    src: url("./assets/fonts/ProximaNova-Black.otf") format("otf");
    font-weight: 900;
    font-display: swap;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Proxima Nova', sans-serif;
  }


body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  background: #E7E7F3;
}

/* Hero section */
.hero {
    width: 100%;
    max-width: 100vw;
    min-height: 100vh;
    background: #34296B;
}

header {
    padding: 2rem 0;
    font-size: 1.3rem;
    color: #fff;
    font-weight: 600;
}

.hero-content {
    width: 100%;
    height: 100%;
}

.hero-content h6 {
    font-size: 1.5rem;
    color: #03B962;
    margin-bottom: 1.5rem;
    animation: subHeading 2s ease-in-out;
}

@keyframes subHeading {
    from {
        transform: translateX(-300px);
    }

    to {
        transform: translateX(0);
    }
}

.hero-content h1 {
    font-size: 3rem;
    color: #fff;
    font-weight: 700;
    max-width: 500px;
    margin-bottom: 32px;
    animation: heading 2s ease-in-out;
}

@keyframes heading {
    from {
        transform: translateX(-400px);
    }

    to {
        transform: translateX(0);
    }
}

.hero-content p {
    font-size: 1rem;
    max-width: 400px;
    line-height: 1.5;
    color: #fff;
    margin-bottom: 0;
    animation: paragraph 2s ease-in-out;
}

@keyframes paragraph {
    from {
        transform: translateX(-500px);
    }

    to {
        transform: translateX(0);
    }
}

.smallContent {
    display: flex;
    align-items: center;
}

.hero-content a, .button {
    background-color: #FCD900;
    border-radius: 40px;
    color: #34296B;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 1rem 2.5rem;
    margin-top: 3.875rem;
    animation: button 2s ease-in-out;
}

.hero-content a:hover {
    transform: scale(1.05);
    text-decoration: none;
    transition: all ease-in-out .3s;
}

.buttom_content {
    font-size: 1.5rem;
    font-weight: 400;
    color: #34296B;
}

@keyframes button {
    from {
        transform: translateX(-600px);
    }

    to {
        transform: translateX(0);
    }
}

.hero-img img{
    width: 90%;
    height: auto;
    animation: imgAnimate 2s ease-in-out infinite;
}

@keyframes imgAnimate {
    from {
        transform: translateY(-8px);
    }

    to {
        transform: translateY(0);
    }
}

.footer_cta a{
    margin: 3rem 0;
    margin-top: 4rem;
    font-size: 1.125rem;
    color: #34296B;
}

.about {
    background: #E7E7F3;
    padding: 3rem 0;
}

.about h2 {
    font-size: 3rem;
    font-weight: 700;
    color: #34296B;
    text-align: center;
    margin: 3rem 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1.5rem;
}

.grid img {
    grid-row: 1 / span 2;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid .box {
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 91px 31px;
}

.grid .box.primary {
    background-color: #34296B;
}

.grid .box .title {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #434343;
}

.grid .box .content {
    font-size: 1rem;
    font-weight: 400;
    color: #434343;
}

.grid .box.primary .title, .grid .box.primary .content {
    color: #fff;
}

.download {
    width: 100%;
    height: 140px;
    background: #34296B;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 3.5rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}

.download:hover {
    color: #fff;
}

/* price */
.price {
    padding-bottom: 5rem;
}

.price-wrapper {
    width: 100%;
    max-width: 1050px;
    position: relative;
    background: #34296B;
    margin-top: 8rem;
    padding: 2rem;
    padding-top: 15rem;
}

.price-wrapper .price-range {
    position: absolute;
    left: 50%;
    top: -3rem;
    transform: translateX(-50%);
    max-width: 684px;
    width: 100%;
    background: #fff;
    border: 8px solid #FCD900;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    flex-direction: column;
}

.price-wrapper .price-range h5 {
    font-size: 2rem;
    color: #34296B;
    font-weight: 600;
}

.price-wrapper .price-range .fee {
    font-size: 3rem;
    color: #34296B;
    font-weight: 900;
    line-height: 1.5;
}

.price-wrapper h6 {
    text-align: center;
    font-size: 1.9rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

.price-wrapper .two-grid {
    max-width: 684px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
}

.price-wrapper .two-grid .main h1 {
    text-align: center;
    color: #fff;
    font-weight: 900;
    font-size: 6rem;
}

.price-wrapper .two-grid .main p {
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
    text-align: center;
    line-height: 1.3;
    max-width: 250px;
    margin: 0 auto;
}

/* testimonial */
.testimonial {
    width: 100%;
    padding: 3rem 32px;
    background: #F8F8F8;
}

.testimonial h2 {
    text-align: center;
    font-size: 3rem;
    color: #34296B;
    font-weight: 700;
    margin-bottom: 2rem;
}

.testimonial .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
}

.testimonial .content .box {
    background: #fff;
    padding: 2.3rem 1.9rem;
}

.testimonial .content .box img {
    width: 84px;
    height: 84px;
    border-radius: 50%;
}

.testimonial .content .box .name {
    font-size: 1.5rem;
    font-weight: 700;
    color: #000;
    margin: 1rem 0;
}

.testimonial .content .box .text {
    font-size: 1rem;
    font-weight: 400;
    max-width: 500px;
    line-height: 1.5;
    color: #161616;
}

footer {
    background: #E7E7F3;
}

footer .button {
    background: #34296B;
    color: #fff;
    text-decoration: none;
}

footer .button:hover {
    background: #FCD900;
    color: #34296B;
}

/* Register */
.register {
    width: 100vw;
    max-height: 100vw;
    display: grid;
    grid-template-columns: 35% 65%;
}

.bg {
    background-image: linear-gradient(to bottom, #34296b4f, #34296b3d),
        url('../assets/images/basics.jpg');
    height: 110vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 500px;
    width: 100%;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 2rem;
    padding-top: 2.5rem;
}

.box h2 {
    font-size: 2rem;
    color: #000;
    margin-bottom: 1.4rem;
    font-weight: 700;
}

.input-group {
    max-width: 500px;
    width: 100%;
    margin-bottom: 1.5rem;
}

.input-group label {
    display: block;
    font-size: 1rem;
    font-weight: 400;
    color: #000;
}

.input-group input {
    width: 100%;
    height: 48px;
    margin-top: .7rem;
    border: none;
    border-radius: 8px;
    outline: none;
    padding: 0 .7rem;
}

.input-group textarea {
    width: 100%;
    height: 80px;
    margin-top: .7rem;
    border: none;
    border-radius: 8px;
    outline: none;
    padding: .7rem;
}

form button {
    border: none;
    background: #34296B;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 700;
    padding: .7rem 1.3rem;
    outline: none;
    border-radius: 8px;
}

form button:hover {
    background: #FCD900;
    color: #34296B;
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .4);
    cursor: pointer;
    display: none;
}

.overlay.show {
    display: flex;
}

.overlay .content {
    max-width: 600px;
    width: 90%;
    min-height: 300px;
    background: #34296B;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    font-size: 2rem;
    color: #fff;
    text-align: center;
    font-weight: 600;
    border-top: 8px solid #FCD900;
}

@media screen and (max-width: 768px) {

    header {
        font-size: 1rem;
    }

    .hero {
        max-height: 150vh;
    }

    .hero-content h6 {
        font-size: 1rem;
    }

    .hero-content h1 {
        font-size: 2rem;
        margin-bottom: 16px;
    }

    .hero-content p {
        font-size: .8rem;
    }

    .hero-content p b {
        font-size: 1rem;
    }

    .hero-content a {
        margin-top: 2rem;
    }

    .hero-img img{
        width: 100%;
        height: auto;
    }


    .about h2 {
        font-size: 2rem;
        margin-top: 1rem;
    }

    .about h4 {
        margin-bottom: 22px;
    }

    .grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }

    .download {
        font-size: 1.5rem;
    }

    .price-wrapper .price-range {
        max-width: 80vw;
    }

    .price-wrapper .price-range h5 {
        font-size: 1rem;
    }

    .price-wrapper h6 {
        font-size: 1.5rem;
    }

    .price-wrapper .two-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 2.5rem;
    }

    .price-wrapper .main h1 {
        font-size: 3rem;
    }

    .testimonial {
        padding: 3rem 16px;
    }

    .testimonial h2 {
        font-size: 1.5rem;
    } 

    .testimonial .content {
        grid-template-columns: repeat(1, 1fr);
    }

    .hero-content a, .button { 
        font-size: 1rem;
    }

    a.button {
        margin-top: 0;
    }

    .buttom_content {
        font-size: 1rem;
    }

    .bg {
        background-image: linear-gradient(to bottom, #34296b4f, #34296b3d),
        url('../assets/images/basics.jpg');
        height: 40vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .register {
        grid-template-columns: repeat(1, 1fr);
    }

    .box {
        padding-bottom: 4rem;
    }
}
