@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;900&display=swap');

@font-face {
  font-family: ProximaBold;
  src: url('./fonts/Proxima-Nova-Bold.otf'); 
}

@font-face {
  font-family: ProximaRegular;
  src: url('./fonts/ProximaNova-Regular.otf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: ProximaRegular, "Helvetica", "Arial", sans-serif;
  overflow-x: hidden;
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  background-color: #34296B;
}

/* Hero section */
.hero {
    width: 100%;
    max-width: 100vw;
    max-height: 100vh;
}

header {
    margin: 2rem 0;
}

.hero-content {
    width: 100%;
    height: 100%;
}

.hero-content h6 {
    font-size: 1.5rem;
    color: #03B962;
    margin-bottom: 1.5rem;
    animation: subHeading 2s ease-in-out;
}

@keyframes subHeading {
    from {
        transform: translateX(-300px);
    }

    to {
        transform: translateX(0);
    }
}

.hero-content h1 {
    font-size: 3rem;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    max-width: 500px;
    margin-bottom: 32px;
    animation: heading 2s ease-in-out;
}

@keyframes heading {
    from {
        transform: translateX(-400px);
    }

    to {
        transform: translateX(0);
    }
}

.hero-content p {
    font-size: 1.25rem;
    color: #03B962;
    margin-bottom: 0;
    animation: paragraph 2s ease-in-out;
}

@keyframes paragraph {
    from {
        transform: translateX(-500px);
    }

    to {
        transform: translateX(0);
    }
}

.hero-content p b {
    font-size: 1.5rem;
    font-family: ProximaBold, "Helvetica", "Arial", sans-serif;
}

.smallContent {
    display: flex;
    align-items: center;
}

.hero-content a, .button {
    background-color: #FCD900;
    border-radius: 40px;
    color: #34296B;
    font-family: ProximaBold, "Helvetica", "Arial", sans-serif;
    font-size: 1.5rem;
    padding: 1rem 2.5rem;
    margin-top: 3.875rem;
    animation: button 2s ease-in-out;
}

.hero-content a:hover {
    transform: scale(1.05);
    text-decoration: none;
    transition: all ease-in-out .3s;
}

.buttom_content {
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: #34296B;
}

@keyframes button {
    from {
        transform: translateX(-600px);
    }

    to {
        transform: translateX(0);
    }
}

.hero-img img{
    width: 90%;
    height: auto;
    animation: imgAnimate 2s ease-in-out infinite;
}

@keyframes imgAnimate {
    from {
        transform: translateY(-8px);
    }

    to {
        transform: translateY(0);
    }
}

.footer_cta a{
    margin: 2rem 0;
    font-family: ProximaBold, "Helvetica", "Arial", sans-serif;
    font-size: 1.125rem;
    color: #fff
}

.about {
    background: #E7E7F3;
    padding: 3rem 0;
}

.about h2 {
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #34296B;
    max-width: 450px;
}

.video {
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('../assets/images/fiwa.JPG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.video:hover img {
    transform: scale(.8);
    transition: .5s ease-in-out all;
}

.about .product_span {
    background-color: rgba(3, 185, 98, 0.2);
    border-radius: 10px;
    padding: 1rem 1.3rem;
    display: inline-block;
    /* max-width: 200px; */
    font-size: .8rem;
    color: #03B962;
    margin-top: 22px;
    margin-bottom: 44px;
    font-weight: 900;
    text-transform: uppercase;
}

.about h4  {
    font-size: 1.5rem;
    font-weight: 900;
    color: #34296B;
    margin-bottom: 1rem;
}

.about li img {
    margin-right: .6rem;
}

.about ul {
    list-style: none;
}

.about li {
    font-size: 1.5rem;
    font-weight: 500;
    color: #34296B;
    line-height: 2.5rem;
}

.videoOverlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, .3);
    justify-content: center;
    align-items: center;
}

.videoOverlay.active {
    display: flex;
}

video {
    width: 80%;
    height: 70%;
    max-width: 700px;
    outline: none;
}

@media screen and (max-width: 768px) {
    .hero {
        max-height: 150vh;
    }

    .hero-content h6 {
        font-size: 1rem;
    }

    .hero-content h1 {
        font-size: 2rem;
        margin-bottom: 16px;
    }

    .hero-content p {
        font-size: .8rem;
    }

    .hero-content p b {
        font-size: 1rem;
    }

    .hero-content a {
        margin-top: 2rem;
    }

    .hero-img img{
        width: 100%;
        height: auto;
    }

    .video {
        height: 250px;
    }

    .video img {
        width: 64px;
        height: auto;
    }

    .about h2 {
        font-size: 2rem;
        margin-top: 1rem;
    }

    .about h4 {
        margin-bottom: 22px;
    }

    a.button {
        margin-top: 0;
    }

    .buttom_content {
        font-size: 1rem;
    }
}

