@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');

@font-face {
  font-family: ProximaBold;
  src: url('./fonts/Proxima-Nova-Bold.otf'); 
}

@font-face {
  font-family: ProximaRegular;
  src: url('./fonts/ProximaNova-Regular.otf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: ProximaRegular, "Helvetica", "Arial", sans-serif;
  overflow-x: hidden;
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  background-color: #34296B;
}

/* Hero section */
.hero {
    width: 100%;
    max-width: 100vw;
    max-height: 100vh;
}

header {
    margin: 2rem 0;
}

.hero-content {
    width: 100%;
    height: 100%;
}

.hero-content h6 {
    font-size: 1.5rem;
    color: #03B962;
    margin-bottom: 1.5rem;
    animation: subHeading 2s ease-in-out;
}

@keyframes subHeading {
    from {
        transform: translateX(-300px);
    }

    to {
        transform: translateX(0);
    }
}

.hero-content h1 {
    font-size: 3rem;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    max-width: 500px;
    margin-bottom: 32px;
    animation: heading 2s ease-in-out;
}

@keyframes heading {
    from {
        transform: translateX(-400px);
    }

    to {
        transform: translateX(0);
    }
}

.hero-content p {
    font-size: 1.25rem;
    color: #03B962;
    margin-bottom: 0;
    animation: paragraph 2s ease-in-out;
}

@keyframes paragraph {
    from {
        transform: translateX(-500px);
    }

    to {
        transform: translateX(0);
    }
}

.hero-content p b {
    font-size: 1.5rem;
    font-family: ProximaBold, "Helvetica", "Arial", sans-serif;
}

.smallContent {
    display: flex;
    align-items: center;
}

.hero-content a {
    background-color: #FCD900;
    border-radius: 40px;
    color: #34296B;
    font-family: ProximaBold, "Helvetica", "Arial", sans-serif;
    font-size: 1.5rem;
    padding: 1rem 2.5rem;
    margin-top: 3.875rem;
    animation: button 2s ease-in-out;
}

.hero-content a:hover {
    transform: scale(1.05);
    text-decoration: none;
    transition: all ease-in-out .3s;
}

@keyframes button {
    from {
        transform: translateX(-600px);
    }

    to {
        transform: translateX(0);
    }
}

.hero-img img{
    width: 90%;
    height: auto;
    animation: imgAnimate 2s ease-in-out infinite;
}

@keyframes imgAnimate {
    from {
        transform: translateY(-8px);
    }

    to {
        transform: translateY(0);
    }
}

.footer_cta a{
    margin: 2rem 0;
    font-family: ProximaBold, "Helvetica", "Arial", sans-serif;
    font-size: 1.125rem;
    color: #fff
}

@media screen and (max-width: 768px) {
    .hero-content h6 {
        font-size: 1rem;
    }

    .hero-content h1 {
        font-size: 2rem;
        margin-bottom: 16px;
    }

    .hero-content p {
        font-size: .8rem;
    }

    .hero-content p b {
        font-size: 1rem;
    }

    .hero-content a {
        margin-top: 2rem;
    }

    .hero-img img{
        width: 100%;
        height: auto;
    }
}